@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

body {
    font-family: 'Orbitron', sans-serif;
    background-color: #4ea9d0;
}

/* Title */
h1 {
    text-align: center;
    text-transform: uppercase;
}


/*Game Play Area*/

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    gap: 1.5em;
}

.container p {
    font-size: 50px;
}

.move {
    border-radius: 20%;
    font-size: 2em;
    padding: .5em;
    display: inline-block;
    

}
    


.game-area {
    width: 75%;
    margin: auto;
    text-align: center;

}



.player {
    background-color: #f24236;
    width: 25%;

}

.bot {
    background-color: #ffd791;
    width: 25%;
    
}

/*Score board*/

.score-board{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    gap: 10em;
}

/* Rules */

.rules {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f24236;
}

.play-now{
    justify-content: center;
    display: flex;
    background-color: #f24236;
    padding: 1rem;
}
