/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    color: #d9dbf1;
    margin: 0;
    padding: 0;
}

#myMainVideo {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    max-height: 100vh;
    z-index: -1;
}

video {
    object-fit: fill;
}


/* Title */

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/*Game Play Area*/

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    gap: 1.5em;
}

.container p {
    font-size: 50px;
}

.move {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    font-size: 3rem;
    display: inline-block;
    border: solid 5px;
    border-color: #4ea9d0;
    color: #1c1d21;
    background-color: #d9dbf1;
}


button:hover {
    background-color: #1c1d21;
    color: #d9dbf1;
}



.game-area {
    width: 75%;
    margin: auto;
    text-align: center;
    background-color: rgb(78,169,208, 0.3);

}

.image {
    max-width: 75%;
}



.player {
    width: 25%;
}

.player .rule-icon {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 6rem;
}

.reset {
    justify-content: center;
    display: flex;
    padding: 1rem;
}

.button {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    padding: 1rem;
    border-radius: 10%;
    border: solid 3px;
    border-color: #4ea9d0;
    color: #1c1d21;
}

.button:hover {
    background-color: #1c1d21;
    color: #d9dbf1;

}


/*Score board*/

.score-board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    gap: 13em;
}

/* Rules */
.rules-lander {
    background-color: #1c1d21;
    color: #d9dbf1;
}

.rules-lander, h2 {
    text-align: center;
    padding-top: 10px;
}

.rules {
    display: flex;
    flex-direction: row;
    justify-content: center;

}


li {
    font-family: "Roboto", sans-serif;
    
}

.rule-icon {
    font-size: 250%;
    padding-left: 5px;
}

.score-number {
    font-size: 250%
}

/*High Score Modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    color: #1c1d21;
}

.modal-content{
    background-color: #d9dbf1;
    margin: 5% auto;
    padding: 5%;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
}

#close-btn {
    color: #1c1d21;
    float: right;
    font-size: 30px;
}



#close-btn:hover, .close-btn:focus{
    color: #4ea9d0;
    text-decoration: none;
    cursor: pointer;
}

fieldset {
    margin-bottom: 20px;
}

/*Media queries*/

@media (max-width: 1230px) {
    .rules {
        flex-direction: column;
    }
    li {
        list-style-type: none;
        letter-spacing: 2px;
    }
    h3 {
        letter-spacing: 2px;
    }

}@media (max-width: 500px) {
    .game-area{
        width: 100%;
    }

    h1 {
        font-size: 2em;
        margin: 0;
    }

    .score-board {
        gap: 1em;
    }

    .button {
        font-size: 75%;
        padding: 10px;

    }

}